/*body {
    border: 1px solid red;
    height: 1000px;
    margin-top: 80px;
}*/

.header {
    width: 100%;
    height: 700px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    border: 1px solid blue;
}

.container {
    width: 60%;
    display: flex;
    align-items: center;
    margin: auto;
}

/* HEADER TEXT */
.header-text {
    height: 400px;
    width: 50%;
}

.header-text h1 {
    font-size: 45px;
}

.header-text h3{
    color: #363636;
}

.header-text p{
    color: #363636;
    padding-top: 25px;
}



/*----------------------*/

/* HEADER IMG */

.header-img {
    border: 1px solid red;
    text-align: center;
    height: 400px;
    width: 50%;
}


/*----------------------*/


